{% extends "Maggotty/layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<p>About page for Maggotty High Alumni Association</p>
<div class="jumbotron">            
    <div class="img-title">
        <h1>History page of the Maggotty High Alumni website</h1>
        <p class="text-justify">Centre for Alumni Affairs in the Maggotty High School connects all Maggotty High Alumni across the globe, initiating research/academic collaboration with universities and organizations and other outreach activities. Maggotty High is proud to have more than 10000 students as its global brand ambassadors. Maggotty High Alumini makes all-out efforts to get them involved in the all-round development and growth of the Institute. It supports the Institute’s mission by way of continually opening opportunities that strengthens the mutually beneficial bond between the institute and its alumni. This center helps to promote and encourage the alumni to disseminate professional knowledge through seminars and interaction with the students and faculty. </div>
</div> 
{% endblock %}