{% extends "Maggotty/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
Upload content
{% endblock %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<form>
    <div class="form-group row">        
        <h3>Contribute your story, pictures and more with your fellow classmates.</h3>            
    </div>
    <br/>
    <div class="form-group row">
        <label for="eventname" class="col-md-2 col-form-label">Event Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="eventname" name="eventname" placeholder="Something like 'Class of 2020 Alumni meet'...">
        </div>
    </div>
    <div class="form-group row">
        <label for="eventdesc" class="col-md-2 col-form-label">Event Description</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="eventdesc" name="eventdesc" placeholder="Some description about your event...">
        </div>
    </div>
</form>
<div class="form-group row">
    <label for="eventDate" class="col-12 col-md-2 col-form-label">Start Date</label>
    <div class="col-5 col-md-4">
        <input type="text" class="form-control" id="stdate" name="stdate" placeholder="MM/DD/YYYY">
    </div>
    <label for="eventDate" class="col-12 col-md-2 col-form-label">End Date</label>
    <div class="col-5 col-md-4">
        <input type="text" class="form-control" id="stdate" name="stdate" placeholder="MM/DD/YYYY">
    </div>
</div>
<div class="form-group row">
    <label for="location" class="col-md-2 col-form-label">Location</label>
    <div class="col-md-10">
        <input type="text" class="form-control" id="location" name="location" placeholder="Where will the event take place?">
    </div>
</div>
<div class="form-group row">
    <label for="price" class="col-md-2 col-form-label">Ticket Price</label>
    <div class="col-md-10">
        <input type="text" class="form-control" id="price" name="price" placeholder="Enter the price amount">
    </div>        
</div>
<br/>
<div class="form-group row">    
    <div class="col-md-12" style="text-align: center;">
        <input onclick="javascript:alert('Event created!');" class="btn" type="submit" class="form-control" id="price" name="price" value="   Submit   ">
    </div>        
</div>
{% endif %}
{% endblock %}