{% extends "Maggotty/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
Upload content
{% endblock %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row" style="padding-bottom: 15px;">
        <h4>Share your pictures or story or news...</h4>
        <h4><a href="{% url 'contributions' %}">Show Contributions</a></h4>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        <!-- intent to submit form -->
        {% csrf_token %}
        <div class="row" style="padding-bottom:10px">
            <input type="text" class="form-control" id="usr" placeholder="Title of your post" name="title">
            <br />
        </div>
        <div class="row">
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" name="filename" accept="image/*">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>

        <div class="row">
            <textarea class="form-control" rows=10 id="comment" placeholder="Write something here..."
                name='comment'></textarea>
        </div>
        <div class="row" style="height:20px"></div>

        <div class="row">
            <br />
            <hr />
            <input class="btn" style="width:150px" type="submit" value="Post">
        </div>
    </form>
</div>
{% else %}
<div class="jumbotron">
    <h5><i class="fas fa-exclamation-triangle" style="font-size:36px;color:#7a212e"></i> Sorry, you do not have access
        here! <br />
        <br />
        Please <a href="{% url 'login' %}" class="redLink">login</a> with your registered username and password to
        access this page.
        <br /><br />In case you haven't already registered, please <a href="{% url 'register' %}"
            class="redLink">register</a> on the website
        and get full access to contribute, donate, participate and do much more!</h5>
</div>

{% endif %}
{% endblock %}