{% extends "Maggotty/layout.html" %}
{% block title %}
Donate
{% endblock %}
{% block content %}
<p>Alumni would be able to financially contribute to the institution here </p>
<!--<img src='\static\Maggotty\adam-solomon-WHUDOzd5IYU-unsplash.jpg' height="200" width="400"/>-->
<form>
    <div class="form-group row">
        <label for="firstname" class="col-md-2 col-form-label">First Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
        </div>
    </div>
</form>
<div class="form-group row">
    <label for="telnum" class="col-12 col-md-2 col-form-label">Contact Tel.</label>
    <div class="col-5 col-md-3">
        <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area code">
    </div>
    <div class="col-7 col-md-7">
        <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number">
    </div>
</div>
<div class="form-group row">
    <label for="emailid" class="col-md-2 col-form-label">Email</label>
    <div class="col-md-10">
        <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email">
    </div>
</div>
<div class="form-group row">
    <label for="Enter amount" class="col-md-2 col-form-label">Enter amount to donate</label>
    <div class="col-3 col-md-3">
        <input type="enter amount" class="form-control" id="donate" name="donate" placeholder="Enter amount">
</div>
<div class="form-group row">
    <div class="offset-md-2 col-md-10">
        <button type="submit" class="btn btn-primary">Proceed to pay</button>
    </div>
</div>
{% endblock %}