{% extends "Maggotty/layout.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
Create a new event
{% endblock %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>

        <div class="col-md-10 col-xs-10 col-sm-10 ">
            <br />
            <h6 style="text-align:center;">
                <medium color="red"> All fields are required</medium>
            </h6>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <form method="post" novalidate>
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">post</button>
            </form>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
</div>

<!-- <form>
    <div class="form-group row">        
        <h4>Create an event and get connected with your fellow classmates.
            Fill up this form now and create your own events!</h4>
    </div>
    <br/>
    <div class="form-group row">
        <label for="eventname" class="col-md-2 col-form-label">Event Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="eventname" name="eventname" placeholder="Something like 'Class of 2020 Alumni meet'...">
        </div>
    </div>
    <div class="form-group row">
        <label for="eventdesc" class="col-md-2 col-form-label">Event Description</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="eventdesc" name="eventdesc" placeholder="Some description about your event...">
        </div>
    </div>
</form>
<div class="form-group row">
    <label for="eventDate" class="col-12 col-md-2 col-form-label">Start Date</label>
    <div class="col-5 col-md-4">
        <input type="text" class="form-control" id="stdate" name="stdate" placeholder="MM/DD/YYYY">
    </div>
    <label for="eventDate" class="col-12 col-md-2 col-form-label">End Date</label>
    <div class="col-5 col-md-4">
        <input type="text" class="form-control" id="stdate" name="stdate" placeholder="MM/DD/YYYY">
    </div>
</div>
<div class="form-group row">
    <label for="location" class="col-md-2 col-form-label">Location</label>
    <div class="col-md-10">
        <input type="text" class="form-control" id="location" name="location" placeholder="Where will the event take place?">
    </div>
</div>
<div class="form-group row">
    <label for="price" class="col-md-2 col-form-label">Ticket Price</label>
    <div class="col-md-10">
        <input type="text" class="form-control" id="price" name="price" placeholder="Enter the price amount">
    </div>        
</div>
<br/>
<div class="form-group row">    
    <div class="col-md-12" style="text-align: center;">
        <input onclick="javascript:alert('Event created!');" class="btn" type="submit" class="form-control" id="price" name="price" value="   Submit   ">
    </div>        
</div> -->
{% else %}
<div class="jumbotron">
    <h5><i class="fas fa-exclamation-triangle" style="font-size:36px;color:#7a212e"></i>  Sorry, you do not have access here! <br/>
        <br/>
        Please <a href="{% url 'login' %}" class="redLink">login</a> with your registered username and password to access this page.
        <br/><br/>In case you haven't already registered, please <a href="{% url 'register' %}" class="redLink">register</a> on the website
        and get full access to contribute, donate, participate and do much more!</h5>
        </div>

{% endif %}
{% endblock %}