{% extends "Maggotty/layout.html" %}
{% block title %}
FAQs
{% endblock %}
{% block content %}
<div class="container">
    <div class="row row-content align-items-center">
      <div class="col col-sm order-sm-first col-md">
         <h2 class="mt-0">Can I connect my computer to the Maggotty State University network?</h2>
         <p class="d-none d-sm-block">A computer network connection is available in all residence hall rooms and University apartments, providing 24-hour access to services such as the Internet, Moggotty High library and mainframe. You may also contact our Information Technology Helpline at 973-655-7971 </p>
          </div> 
       </div>
      </div>
    <div class="container">
             <div class="row row-content align-items-center">
               <div class="col col-sm order-sm-first col-md">
                 <h2>Who Can I Contact for Help?</h2>
                 <p class="text-justify"> You are always welcome to come by Maggotty high help center, call us at 973-689-4187 or email studentaccou@maggottyhigh.edu. Please ensure that your full name and CWID number are provided with your email. 
    
                   </div> 
                </div>
               </div>
{% endblock %}