{% extends "Maggotty/layout.html" %}
{% block title %}
FAQs
{% endblock %}
{% block content %}
<div class="container">
    <div class="row row-content align-items-center">
      <div class="col col-sm order-sm-first col-md">
         <h2 class="mt-0">What can I do if I forgot my username?</h2>
         <p class="d-none d-sm-block">If you forgot your username, please email us at admin@mhaausnr.email.com.</p>
          </div> 
       </div>
      </div>
    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col col-sm order-sm-first col-md">
               <h2>How can I reset my password?</h2>
                 <p class="text-justify">  
                  For security reasons, the Maggotty High Alumni Association does not keep passwords on file. 
                  To reset your password, please drop an email to the admin and your password will be reset.
                  </p>  
            </div> 
        </div>
      </div>
      <div class="container">
        <div class="row row-content align-items-center">
            <div class="col col-sm order-sm-first col-md">
               <h2>Where can I find information about upcoming class reunion?</h2>
                 <p class="text-justify">  
                  You can check out the events page for upcoming events and register for any event that you want to attend.
                  </p>  
            </div> 
        </div>
      </div>
      <div class="container">
        <div class="row row-content align-items-center">
            <div class="col col-sm order-sm-first col-md">
               <h2>How can I provide feedback on the website?</h2>
                 <p class="text-justify">  
                  You can either use the Feedback link in the website footer link, or email us at admin@mhaausnr.email.com.
                  </p>  
            </div> 
        </div>
      </div>
      <div class="container">
        <div class="row row-content align-items-center">
            <div class="col col-sm order-sm-first col-md">
               <h2>Why can't I access upload content page?</h2>
                 <p class="text-justify">  
                  Only registered users are able to upload content on the website. You can register on the website and login with your credentials to access the contribute page.
                  </p>  
            </div> 
        </div>
      </div>
      <div class="container">
        <div class="row row-content align-items-center">
            <div class="col col-sm order-sm-first col-md">
               <h2>I don't see my uploaded content on the website. Why is that?</h2>
                 <p class="text-justify">  
                  All the uploaded content goes through approval process. The President of the Alumni association approves content and only then it can be viewed on the website.
                  </p>  
            </div> 
        </div>
      </div>
      <div class="container">
        <div class="row row-content align-items-center">
            <div class="col col-sm order-sm-first col-md">
               <h2>Why can't I create an event?</h2>
                 <p class="text-justify">  
                  Only registered users are able to create events on the website. You can register on the website and login with your credentials to access the create event page.
                  </p>  
            </div> 
        </div>
      </div>
{% endblock %}