{% extends "Maggotty/layout.html" %}
{% block title %}
History
{% endblock %}
{% block content %}

<div class="jumbotron">            
    <div class="img-title">
        <h1>History page of the Maggotty High Alumni website</h1>
        <p class="blockquote text-justify"> Montclair State University has prepared thousands of students for a lifetime of professional and personal success. 
            Building on a distinguished history dating back to 1908, Montclair State University is a leading institution of higher education in New Jersey.
            Designated a Research Doctoral University by the Carnegie Classification of Institutions of Higher Education, the University’s 10 degree-granting schools and colleges serve more than 20,000 undergraduate and graduate students with more than 300 doctoral, master’s and baccalaureate level programs. </div>
</div> 
{% endblock %}