{% extends "Maggotty/layout.html" %}
{% block title %}
History
{% endblock %}
{% block content %}
<div class="jumbotron">            
    <div class="img-title">
        <h2>History of the Maggotty High Alumni Association</h2>
        <p class="text-justify"> Founded on a strong belief in accessible education, Maggotty High School is proud to bring academia to all corners of the country through our newly online program. Each year our student community grows and strengthens, and our alumni graduate as passionate and curious learners.



            Regardless of where they are located, our students receive customized, high quality education from licensed teachers who are always available through online channels. We’re here to provide the flexible learning experience you need.
            
            ​
            
            Maggotty High School is a co-educational facility located in North-Western St. Elizabeth. The school began its impact on the community of Maggotty since its inception in 1971.
            
            The institution has undergone many changes, moving from a Junior Secondary School in 1971 to new Secondary in 1974. The school has now achieved High School status since 1988.
            
            The institution presently has in its employ approximately ninety-two (92) academic staff members, inclusive of one (1) Principal, two (2) Vice-Principals, three (3) Guidance Counsellors, and one (1) Dean of Discipline.
            
            ​
            
            Maggotty High School boasts a population of approximately two thousand students. In the year 2017, the shift system on which the school operated since its inception was discontinued and now the whole-day school system sees school commencing at 8:00am to 3:00pm with the exception of operations ending at 2:00pm on a Friday. Maggotty High School strives to attain excellence in all aspects of its activities and endeavours. </div>
</div> 
{% endblock %}