{% extends "Maggotty/layout.html" %}
{% block title %}
History
{% endblock %}
{% block content %}
{% load static %}
<div class="jumbotron">            
    <div class="img-title">
        <h2>Our History</h2>
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6" style="padding-top: 20px;font-size: larger;">
                <p class="text-justify">The inaugral meeting was held at the elegant Jamaican restaurant, The Door, 
                    located at 163-67 Baisley Blvd.,Jamaica, Queens, NY 11434. Present at this meeting were Veronica Blake-DeWalt, 
                    Uriah Chambers,  Allison Johnson-Russel, Hubert Johnson, Clarence Jones, Orrett McNeil, Sheila McCormack-Vanenburg, 
                    Beverkyn Smith, Bradley Thompson, Kie Wright. Between June 2009 and May 2011 sporadic meetings were held at the Mona 
                    Prep Academy at South Conduit Ave, Roachdale, Queens. In early 2011 the Association was joined by such Alumni as Valrie 
                    Samuels, Homer Duhaney, Elton Hanson, Lorane Phillips, and Olive Brown, all of whom breathed new life into the Association.
                </p>
            </div>
            <div class="col-md-6" style="text-align: center;padding:5px;">
                <img src="{% static 'Maggotty/MHAAMembers2.png' %}">
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col text-center">
                <p style="font-size: x-large;">Founders of the Maggotty High Alumni Association</p>
            </div>            
        </div>        
        <div class="row">
            <div class="col-md-12"  style="text-align: center;border-style:groove;padding:5px;background-color: #7a212e;">
                <img src="{% static 'Maggotty/MHAAMembers1.png' %}">
            </div>                
        </div>        
    </div>        
</div> 
{% endblock %}