{% extends "Maggotty/layout.html" %}
{% block title %}
Mission
{% endblock %}
{% block content %}
<div class="jumbotron">            
    <div class="img-title">
        <h2>Mission of the Maggotty High Alumni website</h2>
        <p class="text-justify">


            The purpose of the system is to foster the vision and mission of the institution, and to strengthen the ties between real-world and the people of the School. This website which will be plotted on the system will help alumni members to collaborate, contribute and connect with other members of the alumni and the School. The website will deliver Alumni to be up to date on the events and news related to the School. Alumni will be able to participate in on-premise events and have live interactions with current students and faculty. The site will serve as a one-stop resource for alumni of the School. </div>
        </div> 
{% endblock %}