{% extends "Maggotty/layout.html" %}
{% block title %}
Mission
{% endblock %}
{% block content %}
<div class="jumbotron">            
    <div class="img-title">
        <h2>Our Mission & Vision </h2>
        <br/>
        <p class="text-justify">The Maggotty High School Past Student Association is fueled by the strength of our students, instructors and online nature that creates endless opportunities for our current students. Each student has a personal, customized path that is specifically built for their goals, skill level and pace.The purpose of the system is to foster the vision and mission of the institution, and to strengthen the ties between real-world and the people of the School. This website which will be plotted on the system will help alumni members to collaborate, contribute and connect with other members of the alumni and the School. The website will deliver Alumni to be up to date on the events and news related to the School. Alumni will be able to participate in on-premise events and have live interactions with current students and faculty. The site will serve as a one-stop resource for alumni of the School. 
            We’re incredibly proud of our program, which focuses on encouraging intellectual risks, high engagement and academic curiosity that overcomes all financial and emotional struggles of our students. We provide bursaries and scholarships. If you have any questions or are interested in donating, please don’t hesitate to get in touch.
        </div>
        </div> 
{% endblock %}