{% extends "Maggotty/layout.html" %}
{% block title %}
My Cart
{% endblock %}
{% block content %}    
{% if user.is_authenticated %}       

<form action="" method="POST">
{% csrf_token %}
<div class="container">    
    <div class="row">  
      <div class="col-8">          
        <div class="row">
          <div class="col">
            <h5 class="mb-4">My Cart</h5>  
          </div>
        </div>
        {% for order in Orders %}
        <div class="row">
          <div class="col-9">
            <medium class="mb-4">{{order.eventName}}</medium>  
          </div>
          <div class="col-3">
            <p class="mb-0">${{order.ticketPrice}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-4" style="background-color: white; padding:10px">
        <div class="row">
          <div class="col">
            <h5 class="mb-3">Total amount</h5>
            <hr/>
          </div>
        </div>       
        {% for order in Orders %}
        <div class="row">
          <div class="col-9">
            <medium class="mb-3">{{order.eventName}}</medium>
          </div>
          <div class="col-3 right-align">
            <medium class="mb-3">${{order.ticketPrice}}</medium>
          </div>
        </div>
        {% endfor %}
        <br/>
        <div class="row">
          <div class="col">
            <button type="button" onclick="javascript:window.open('https\://paypal.com');" class="btn btn-primary btn-block">Checkout and Pay</button>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col">
        <p class="redLink"><i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding
          tickets to your cart does not mean booking them.</p>
      </div>
    </div>     
  </div>
</form>
{% else %}
  <div class="jumbotron">
    <h5><i class="fas fa-exclamation-triangle" style="font-size:36px;color:#7a212e"></i>  Sorry, you do not have access here! <br/>
        <br/>
        Please <a href="{% url 'login' %}" class="redLink">login</a> with your registered username and password to access this page.
        <br/><br/>In case you haven't already registered, please <a href="{% url 'register' %}" class="redLink">register</a> on the website
        and get full access to contribute, donate, participate and do much more!
    </h5>
  </div>
{% endif %}
{% endblock %}