{% extends "Maggotty/layout.html" %}
{% block title %}
News page
{% endblock %}
{% block content %}
<!-- <p>Upcoming News is posted here</p>        -->
<div class="container">
   <div class="row row-content align-items-center">
     <div class="col col-sm order-sm-first col-md">
        <h2 class="mt-0"> Updates about Fall semester 2021</h2>
        <p class="d-none d-sm-block">The University announced this week that the spring 2021 semester will begin February 8, three weeks later than originally planned, and there will be no spring break. The term will end the week of Mar 24.  </p>  
        <p><a href="#" class="btn">Know more</a></p>
         </div> 
      </div>
     </div>
      
     <div class="container">
        <div class="row row-content align-items-center">
          <div class="col col-sm order-sm-first col-md">
            <h2 class="mt-0">Celebrating University Day</h2>
            <p class="text-justify">Students came together on a day without classes to celebrate University Day. Under a beautiful autumn sky on the Student Center Quad, students enjoyed ice cream, created with sidewalk chalk, danced, played games and showed off their Red Hawk Pride, a one-day break that brought the campus together – outdoors and socially distanced –  during a fall semester like no other.
                 <p><a href="#" class="btn">Know more</a></p>
              </div> 
           </div>
          </div>

 
          <div class="container">
            <div class="row row-content align-items-center">
              <div class="col col-sm order-sm-first col-md">
                <h2>A Transformed College Hall Reopens</h2>
                <p class="text-justify">Starting October 13, the building began hosting Maggotty high Central 1-Stop, the University’s one-stop student services center for all current and prospective students. Maggotty high Central is located on the 2nd floor main entrance. Students are encouraged to stop by for assistance and support concerning registration, billing, financial aid or any other questions.   
                     <p><a href="#" class="btn">Know more</a></p>
                  </div> 
               </div>
              </div>
{% endblock %}