{% extends "Maggotty/layout.html" %}
{% block title %}
News page
{% endblock %}
{% block content %}
<p>Upcoming News is posted here</p>       
<div class="container">
   <div class="row row-content align-items-center">
     <div class="col-12 col-sm-6">
        <h2 class="mt-0"> Updates about Fall semester 2021</h2>
        <p class="d-none d-sm-block">The University announced this week that the spring 2021 semester will begin February 8, three weeks later than originally planned, and there will be no spring break. The term will end the week of Mar 24.  </p>  
        <p><a href="#" target="_blank" class="btn">Know more</a></p>
         </div> 

      <div class="col-12 col-sm align-self-center">
          <img src="/Maggotty/static/Maggotty/shubham-sharan-Z-fq3wBVfMU-unsplash.jpg" class="img-fluid"
>
      </div>
   
    
    </div>
    </div>
{% endblock %}