{% extends "Maggotty/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
User Registration
{% endblock %}
{% block content %}
{% load static %}
<p>Please fill the form to create an account !!!</p>
<div class="container">
    <div class="jumbotron">
        {% if registered %}
        <h1>Thank you for registering!</h1>
        {% else %}
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form|crispy }}
            <input type="submit" name="" value="Register">
        </form>
        <div class="exists">
            <small class="chkexists">
                Already have an account? <a class="login" href="#">Login</a>
            </small>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}